services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=Shodmon123
      - POSTGRES_DB=analytics
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build: .
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8080:8000"
    volumes:
      - .:/app

volumes:
  pgdata: